
  
  
  body{
    background-color: mediumvioletred;
    background-image: url(https://png.pngtree.com/back_origin_pic/05/08/54/22c482ecfeff7f1372819eb7acf08ecc.jpg);
    
background-size: cover;
 

}


  
  